<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.cj.project.mapper.UserMapper">
    <insert id="addUser">
        insert into users
        <trim prefix=" (" suffix=") " suffixOverrides=",">
            <if test="name != null and name != ''">
                `name`,
            </if>
            <if test="age != null and age != ''">
                `age`
            </if>
        </trim>

        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test='name != null and name != ""'>
                #{name},
            </if>
            <if test="age != null and age != ''">
                #{age},
            </if>
        </trim>
    </insert>

    <update id="updateUser">
        update users
        <set>
            <if test="name != null and name != ''">name=#{name},</if>
            <if test="age != null and age != ''">age=#{age}</if>
        </set>
        where id=#{id}
    </update>

    <delete id="deleteUser">
        delete
        from users
        where id = #{id}
    </delete>

    <select id="getAllUser" resultType="com.cj.project.model.entity.User">
        select *
        from users
    </select>

    <resultMap id="user" type="com.cj.project.model.vo.UserVO">
        <id property="id" column="id"/>
        <result property="name" column="name"/>
        <result property="age" column="age"/>

        <collection property="posts" javaType="ArrayList"
                    select="com.cj.project.mapper.PostMapper.getPostsByUserId" column="id"/>
    </resultMap>

    <select id="getUserById" resultMap="user">
        select *
        from users
        where id = #{id}
    </select>

    <select id="queryByKey" resultType="com.cj.project.model.entity.User">
        <bind name="pattern" value="'%' + name + '%'"/>
        select * from users where `name` like #{pattern}
    </select>


</mapper>
